
.fadeIn {
  opacity: 0;
  animation: fadeIn 300ms forwards;
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 100ms forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}




/* Toast box base (optional)  - this is because due to some behaviour clash between container and the toast */
 .Toastify__toast {       
        width: fit-content !important; 
        /* font-size: 5px;         */
     
      }
      
