* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.middle {
  height: 85%;
  width: 100%;
  display: flex;
}

.viewer {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 0%;
  height: 100%;
  background-color: peachpuff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  height: 5%;
  width: 100%;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section {
  width: 100%;
  background-color: lightblue;
}

.top__title {
  text-align: left;
  padding: 1rem 2rem;
  color: #1F2937;
}
